### Week 2 Data Exploration

In [ ]:
# This code appears in every demonstration Notebook.
# By default, when you run each cell, only the last output of the codes will show.
# This code makes all outputs of a cell show.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

We will explore the user and order data from JD.com.

1. We import the necessary packages.

In [2]:
import pandas as pd

2. We read in the datasets.

In [3]:
jd_order = pd.read_csv('JD_order_data.csv')
jd_user = pd.read_csv('JD_user_data.csv')

3. Take a look at the data

In [10]:
print(jd_user.head())
print(jd_user.info())

      user_ID  user_level first_order_month  plus gender    age  \
0  000089d6a6           1           2017-08     0      F  26-35
1  0000babd1f           1           2018-03     0      U      U
2  0000bc018b           3           2016-06     0      F   >=56
3  0000d0e5ab           3           2014-06     0      M  26-35
4  0000dce472           3           2012-08     1      U      U

  marital_status  education  city_level  purchase_power
0              S          3           4               3
1              U         -1          -1              -1
2              M          3           2               3
3              M          3           2               2
4              U         -1          -1              -1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457298 entries, 0 to 457297
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   user_ID            457298 non-null  object
 1   user_level         457298 non-null  int64
 2   first_order_month  457298 non-null  object
 3   plus               457298 non-null  int64
 4   gender             457298 non-null  object
 5   age                457298 non-null  object
 6   marital_status     457298 non-null  object
 7   education          457298 non-null  int64
 8   city_level         457298 non-null  int64
 9   purchase_power     457298 non-null  int64
dtypes: int64(5), object(5)
memory usage: 34.9+ MB
None

In [5]:
jd_order.head()

,order_ID,user_ID,sku_ID,order_date,order_time,quantity,type,promise,original_unit_price,final_unit_price,direct_discount_per_unit,quantity_discount_per_unit,bundle_discount_per_unit,coupon_discount_per_unit,gift_item,dc_ori,dc_des
0,d0cf5cc6db,0abe9ef2ce,581d5b54c1,2018-03-01,2018-03-01 17:14:25.0,1,2,-,89.0,79.0,0.0,10.0,0.0,0.0,0,4,28
1,7444318d01,33a9e56257,067b673f2b,2018-03-01,2018-03-01 11:10:40.0,1,1,2,99.9,53.9,5.0,41.0,0.0,0.0,0,28,28
2,f973b01694,4ea3cf408f,623d0a582a,2018-03-01,2018-03-01 09:13:26.0,1,1,2,78.0,58.5,19.5,0.0,0.0,0.0,0,28,28
3,8c1cec8d4b,b87cb736cb,fc5289b139,2018-03-01,2018-03-01 21:29:50.0,1,1,2,61.0,35.0,0.0,26.0,0.0,0.0,0,4,28
4,d43a33c38a,4829223b6f,623d0a582a,2018-03-01,2018-03-01 19:13:37.0,1,1,1,78.0,53.0,19.0,0.0,0.0,6.0,0,3,16

4. Explore a single categorical variable

In [6]:
jd_user['age'].unique()

array(['26-35', 'U', '>=56', '36-45', '16-25', '46-55', '<=15'],
      dtype=object)

In [8]:
# Let's explore the gender variable in users
jd_user['gender'].info

# value_counts() gives the frequency distribution

<bound method Series.info of 0         F
1         U
2         F
3         M
4         U
         ..
457293    U
457294    M
457295    M
457296    F
457297    M
Name: gender, Length: 457298, dtype: object>

In [ ]:
# Make a bar chart for the frequency distribution

In [ ]:
# Exercise: explore variable 'age'

5. Explore a single inteval variable

In [ ]:
# Find quantile or percentile

In [ ]:
# Find the records with the maximum price
# The max price is an outlier

# We use the comparison to slice the original dataset

In [ ]:
# A histogram to explore the distribution of the interval variable
# original price

# The results are strongly affected by the maximum value.

In [ ]:
# delete the maximum record

In [ ]:
# The histogram again

In [ ]:
# Delete the outliers using slicing

6. Explore the relationship between two interval variables

In [ ]:
# Make a scatterplot to explore the relationship between original and
# final price

In [ ]:
# A graph package that is built on matplotlib and asthetically better

7. Explore the relationship between an interval variable and a categorical variable